<header class="bg-gray-300 p-3">
    <nav class="flex justify-around">
        <div class="flex gap-2">
            <h4>LOGO HERE</h4>
            <!-- Router Link not working -->
            <button [routerLink]="['/homenope']" >Commercily</button>
        </div>

        <!-- Search Bar -->
        <div class="flex gap-3 w-[35%]">
            <input type="text" class="p-2 rounded-md w-[80%]" />
            <button  class="w-[20%] text-center p-2 rounded-md bg-red-200">Search</button>
        </div>

        <div class="flex gap-5">
            <h4>Cart</h4>
            <h4>Sign In</h4>
        </div>
    </nav>
</header>